.nav-bar {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    overflow: hidden;
    background-color: $colour-accent-dark;
    width: 300px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    align-content: space-between;
}

.main-content-wrapper {
    margin-left: 300px;
}

@media only screen and (max-width: 900px) {
    .nav-bar {
        width: 150px;
    }

    .main-content-wrapper {
        margin-left: 150px;
    }
}

@media only screen and (max-width: 600px) {
    .nav-bar {
        width: 0px;
    }

    .main-content-wrapper {
        margin-left: 0px;
    }
}

.nav-bar h1 {
    align-self: center;
    justify-content: flex-start;
    color: $colour-accent-light;
}

.nav-bar div {
    padding: 10px;
}

.nav-options a:hover {
    font-size: 1.2em;
}

.contact {
    margin-top: auto;
}

.contact img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    padding: 10px;
}

.contact img:hover {
    scale: 1.2;
}

.contact p {
    font-size: 0.8em;
    color: $colour-accent-light;
}

.collapsed-nav-height {
    height: fit-content;
}

.collapsed-nav-options {
    color: $colour-accent-dark;
    background-color: $colour-accent-dark;
    transition: transform 0.5s ease-in-out;
    position: fixed;
    top: 0;
    transform: translateX(100%);
    width: 100%;
    z-index: 1;
}

.collapsed-nav-options a {
    float: left;
    display: block;
    color: $colour-accent-light;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    margin: auto;
}

.collapsed-nav-options a:hover {
    scale: 1.1;
}

.shown-nav-options {
    transform: translateX(0%);
}