.heading {
    font-size: 2em;
    align-self: center;
    justify-content: flex-start;
    margin-top: 40vh;
}

.summary {
    padding-top: 10px;
    font-size: 1.2em;
    align-self: center;
    justify-content: center;
}