.image-credits {
    justify-self: flex-end;
    align-self: flex-end;
    margin-top: auto;
    z-index: 2;
}

.header-image {
    background-image: url('../img/city-road.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.piano-image {
    background-image: url('../img/piano.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.skyscraper-image {
    background-image: url('../img/neon-skyscraper.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}