.inner-content {
    padding: 2em;
}

.inner-content span {
    font-size: 1.5em;
    margin: 30px;
    display: block;
}

.inner-content h2 {
    padding: 0.5em;
    font-size: 1.6em;
}

.inner-content:first-child {
    padding-top: 20px;
}
.inner-content:last-child {
    padding-bottom: 20px;
}

.inner-content li {
    padding: 2px;
}