.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.card {
    background-color: $colour-accent;
    border-radius: 10px;
    width: 300px;
    height: 400px;
    margin: 20px;
    overflow: hidden;
    text-overflow: clip;
    transition: width 0.5s ease-in-out;
}

.card img {
    margin: 5px;
    padding: 5px;
    width: auto;
    height: 25%;
}

.card p {
    padding: 0px;
    width: 250px;
    overflow: hidden;
    display: inline-block;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: normal;
    font-size: 0.9em;
}


.card a {
    text-decoration: underline !important;
    color: $colour-primary-dark;
}

.cards :hover {
    scale: 1.01;
}

.card img, p, h3, h4 {
    pointer-events: none;
    padding: 0px;
}