.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.card {
    background-color: $colour-accent;
    border-radius: 10px;
    width: 200px;
    height: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px;
}

.card img {
    padding: 5px;
    width: 80%;
}

.work-section {
    /* Needed for children to be absolutely positioned relative to the parent. */
    position: relative;
    /* The height of the container. Must be set, but it doesn't really matter what the value is. */
    height: 100%;

    color: $colour-text-white;
    text-shadow: 0 0 5px $colour-accent-dark;
}

.cards :hover {
    scale: 1.2;
}

.card img, p, h3 {
    pointer-events: none;
}