$colour-primary-dark: #113BA1;
$colour-primary-light: #C3D5D9;

$colour-accent: #7489A2;
$colour-accent-dark: #566E8B;
$colour-accent-light: #E0F0F0;

$colour-star-background: #2D353F;
$colour-star-background-light: #1e3149;
$colour-star-light: #395374;

$colour-text-black: #000000;
$colour-text-white: #ffffff;